<div class="container">

  <h1>I am Sargeant Drill</h1>

  <div class="question">You said - <%= @question %></div>

  <div class="answer"><strong>Well I SAY</strong> - <%= @answer %></div>

  <%= link_to "Ask another question", home_path %>

</div>
