form {
  margin: 50px;
}

input {
  height: 10vh;
  width: 50vw;
  text-align: center;
  font-size: 25px;
  font-style: italic;
}

.ask {
  margin-top: 20px;
  width: 726px;
  font-size: 15px;
  background-color: #E4F1F7;
  border-radius: 5px;
  border: none;
}
